{% extends "index.html" %}

{% block title %}
  Layout
{% endblock  %}

{% block content%}
  <h2>
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet    
    {% endif %}
  
    <!-- enctype to receive the files/photos -->
    <form method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-warning" type="submit">submit</button>
    </form>

    <a href="{% url 'tweet_list' %}">Back to tweet List</a>
  
  </h2>

  


{% endblock  %}
